In [3]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('spam.csv', encoding='latin1')

In [6]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4371,spam,Ur balance is now å£600. Next question: Comple...,NaN,NaN,NaN
1273,spam,network operator. The service is free. For T &...,NaN,NaN,NaN
4031,ham,I'm very happy for you babe ! Woo hoo party on...,NaN,NaN,NaN
5217,ham,Well thats nice. Too bad i cant eat it,NaN,NaN,NaN
3157,ham,Thank u. IT BETTER WORK OUT CAUSE I WILL FEEL ...,NaN,NaN,NaN

In [7]:
df.shape

(5572, 5)

# 1. Data Cleaning

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [9]:
# drop last 3 cols
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [11]:
df.sample(5)

       v1                                                 v2
5067  ham                         Talk to g and x about that
22    ham  So Ì_ pay first lar... Then when is da stock c...
5073  ham  I want to sent  &lt;#&gt; mesages today. Thats...
3349  ham  Sorry i cant take your call right now. It so h...
2370  ham  That day Ì_ say Ì_ cut ur hair at paragon, is ...

In [17]:
#renaming the cols

df.rename(columns ={'v1': 'target', 'v2':'text'}, inplace = True)
df.sample(5)

     traget                                               text
5087    ham  Good morning, im suffering from fever and dyse...
2767    ham             Wow v v impressed. Have funs shopping!
1409    ham                           Where at were hungry too
2818    ham  Don't forget who owns you and who's private pr...
255     ham  Don't necessarily expect it to be done before ...

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [19]:
df['target'] = encoder.fit_transform(df['target'])

KeyError: 'target'